
<div style="display: flex;" >
   <div class="card-title">
    <div style="width:50%;position: relative;top:200px">
      <mat-card>
        <form [formGroup]="addtripdeils">
          <div style="margin: 20px;">
            <div style="display: flex;flex-direction: column;margin-top: 10px;">
              <label class="field-title"> Start Point </label>
              <mat-form-field appearance="outline"  class="fm-field" >
                <input matInput formControlName="start_point" placeholder="Enter Start Point (eg : CHE)"  class="form-control">
              </mat-form-field>
            </div>
            <div style="display: flex;flex-direction: column;margin-top: 10px;">
              <label class="field-title"> End Point </label>
              <mat-form-field appearance="outline"  class="fm-field" >
                <input matInput formControlName="end_point" placeholder="Enter End Point (eg : BAN)"  class="form-control">
              </mat-form-field>
            </div>
          </div>
        </form>
        <div class="button-align">
          <button mat-flat-button class="addbutton" (click)="addTrip()">Add Trip</button>
          <button mat-flat-button class="clearbutton" (click)="clearTrip()">Reset</button>
          <button mat-flat-button class="renderbutton" (click)="renderTrips()">Render Trips</button>
         </div>
      </mat-card>
    </div>    
   </div>
   <div style="width:50%">
    <div class="head-title">
      <b>Visualization of Trips</b>
    </div>
    <svg width="100%" height="400" style="margin: 20px;">
      <defs>
        <marker id="arrow" markerWidth="10" markerHeight="10" refX="6" refY="3" orient="auto">
          <path d="M0,0 L0,6 L9,3 z" fill="#333" />
        </marker>
      </defs>
    <ng-container *ngFor="let visual of visuals">
      <line *ngIf="visual.type == 'line'"
            [attr.x1]="visual.x1" [attr.y1]="visual.y1"
            [attr.x2]="visual.x2" [attr.y2]="visual.y2"
            stroke="blue" stroke-width="2" />
      <line *ngIf="visual.type == 'arrow'"
            [attr.x1]="visual.x1" [attr.y1]="visual.y1"
            [attr.x2]="visual.x2" [attr.y2]="visual.y2"
            stroke="orange" stroke-width="2" marker-end="url(#arrow)" />
  
      <text *ngIf="visual.text"
            [attr.x]="visual.x1 ?? visual.d.split(' ')[1]"
            [attr.y]="(visual.y1 ?? 180) + 20"
            font-size="12" fill="#444">{{ visual.text }}</text>
    </ng-container> 
  </svg>   
  <div style="margin: 20px;">
    <p>Trip Json</p>
    <p>{{this.trips|json}}</p>
  </div>
  </div>
</div>
